


body {
    background: #FAFAFA;
    font-family: "Verdana", sans-serif;
}



.navbar-default {
    background-color: #C1E1CE !important;
    color: white;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
    color: #ffffff !important;
    background-color:#479F8D !important;
    background-image: none !important;
}


.navbar-default .navbar-brand {
    color: #0e3b43;
}

.progress-bar{
    background-color:#479F8D;
}
